@import "colors.scss";

.AnswerForm {
  input {
    border: none;
    height: 22px;
    border-radius: 2px;
  }

  input[type='submit'] {
    background-color: $color_clickable;
    border: none;
    height: 24px;
    border-radius: 2px;
    color: white;
  }

  .message {
    color: $red_orange;
  }
}
