.puzzle {
  text-align: left;
  font-size: calc(5px + 2vmin);
  line-height: 1.5;
  padding: 5px 10px;
  @media (min-device-width: 750px) {
    padding: 10px 50px;
  }

  .Dit {
    display: inline-block; /* Keep one letter together */
  }
}
